.Entire {
    display: flex;
    background: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 10%;
    flex-direction: column;
}

.Top {
    background-color: rgba(255, 255, 255, 0.897);
    height: 10em;
    align-items: center;
    align-self: center;
}

.Portfolio {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 20px;
    color: rgb(80, 80, 80);
    text-align: center;
    font-weight: 600;
}

.MyWorks {
    text-align: center;
    padding-bottom: 10px;
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.Line {
    align-self: center;
    height: 2px;
    background-color: #4e00a7; 
}

.MyWorksContent {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 60px;
    background: #ffffff;
    height: 40em;
}

.Capture {
    width: 65%;
    background: rgb(255, 255, 255);
}

.Capture2 {
    padding-left: 100px;
    width: 65%;
    background: rgb(255, 255, 255);
}

.Info {
    width: 35%;
    background: white;
}
.InfoLayout {
    padding-top: 10%;
    padding-left: 10%; 
    padding-Right: 20%;
}

.InfoLayout2 {
    padding-top: 10%;
    padding-left: 20%; 
    padding-Right: 10%;
}

.Number {
    color: #5a00c0;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 10px;
}

.Airlevel {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 40px;
}

.Tool {
    font-weight: 600;
}

.ImageSize {
    width: 62vw;
    height: 100vh;
}


@media screen and (min-width: 320px) and (max-width: 667px) {
    .Entire {
        margin-bottom: 100%;
    }
    .MyWorksContent {
        flex-direction: column;
    }
    .ImageSize {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .Capture{
        width: 100%;
    }
    .Capture2{
        padding-left: 0%;
        width: 100%;
    }
    .Info{
        width: 100%;
    }
    .InfoLayout {
        padding-top: 10%;
        padding-left: 5%; 
        padding-Right: 10%;
    }
    .InfoLayout2 {
        padding-top: 10%;
        padding-left: 5%; 
        padding-Right: 10%;
    }
}