.SkillTable {
    display: flex;
    background: rgba(0, 0, 0, 0.897);
    height: 65em;
    flex-direction: row;
}

.Box01 {
    justify-content: center;
    background: rgba(0, 0, 0, 0.897);
    width: 50%;
    height: 65em;
}

.Box02 {
    background: brown;
    width: 50%;
    height: 65em;
}

.TitleSkill {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    font-size: 30px;
}

.TitleSkill2 {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    background-color: brown;
    color: white;
    font-size: 30px;
}

.What {
    color: white;
    padding-left: 50px;
    padding-bottom: 70px;
    font-size: 60px;
    font-weight: 600;
}

.Awards {
    color: white;
    margin-top: 15px;
    padding-left: 50px;
    padding-bottom: 80px;
    font-size: 50px;
    font-weight: 600;
}

.language {
    color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-bottom: 2px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}

.language2 {
    color: white;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

.AwardsTitle {
    color: rgb(255, 208, 0);
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.AwardsInfo {
    color: white;
    padding-left: 60px;
    padding-bottom: 10px;
    padding-right: 62px;
    font-size: 15px;
    font-weight: 500;
}